# -*- coding: utf-8 -*-
# vim: ft=jinja

{## Start with  defaults from defaults.yaml ##}
{% import_yaml 'iim/defaults.yaml' as default_settings %}

{##
Setup variable using grains['os_family'] based logic, only add key:values here
that differ from whats in defaults.yaml
##}
{% set os_family_map = salt['grains.filter_by']({
        'Debian': {},
        'Suse': {},
        'Arch': {},
        'RedHat': {},
  }
  , grain="os_family"
  , merge=salt['pillar.get']('iim:lookup'))
%}
{## Merge the flavor_map to the default settings ##}
{% do default_settings.iim.update(os_family_map) %}

{## Merge in iim:lookup pillar ##}
{% set iim = salt['pillar.get'](
        'iim',
        default=default_settings.iim,
        merge=True
    )
%}
